body {
    background: linear-gradient(lightblue, blue);
    height: 1200px;
}

h1 {
    text-align: center;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.rcorners1 {
    text-align: center;
    border-radius: 25px;
    background: white;
    border: 4px solid rgb(15, 112, 121);
    padding: 10px;
    width: 400px;
    height: 130px;
  }

  a {
      color: white;
  }

#ball {
    height: auto;
    width: auto;
    max-width: 80px;
    max-height: 80px;
    animation: rotation 3s infinite linear;
}

li {
    list-style-type: none;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}