body {
    background: linear-gradient(lightblue, blue);
}

h1 {
    text-align: center;
}

#destinations-container {
    text-align: center;
}

.rcorners1 {
    border-radius: 25px;
    background: white;
    border: 2px solid rgb(15, 112, 121);
    padding: 20px;
    width: 200px;
    height: 150px;
  }

  a {
      color: white;
  }

#ball {
    height: auto;
    width: auto;
    max-width: 80px;
    max-height: 80px;
    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}